.Feature_card{
    display: flex;
    flex: 1;
}
.Feature_title{
    margin: 1rem;
    display: block;
}
.Feature_title div{
    width: 2rem;
    height: 5px;
    background: var(--gradient-bar);
    border-radius: 2px;
}
.Feature_title h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 75px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.Feature_text{
    flex: 1;
    margin: 1rem;
}
.Feature_text p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #81AFDD; 
}

@media screen and (max-width: 1050px) {
    
    .Feature_title h1{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 65px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }
    .Feature_text p{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 25px;
        color: #81AFDD; 
    }

}
@media screen and (max-width: 650px){
    .Feature_card{
        flex-direction: column;
    }
}

