.Navbar{
    display: flex;
    position: relative;
    padding: 2rem;
    justify-content: space-between;
}
.Navbar_Gpt3{
    margin-right: 2rem;
}
.Navbar_Gpt3 p{
    font-family: var(--font-family);
    color: white;
    font-size: 2rem;
}
.Navbar_Links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex:1;
}

/* Link React should be added here */
.Navbar_Links a, 
.Navbar_Sign p{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding-right: 2rem;
    font-family: var(--font-family);
    cursor: pointer;
}

.Navbar_Sign{
    border: solid white;
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Navbar_Sign button{
    width: 152px;
    height: 50px;
    left: 1153px;
    top: 55px;
    font-size: 16px;
    color: white;
    background: #FF4820;
    border-radius: 5px;
    cursor: pointer;
}
.Navbar_menu{
    border: solid white;
    display: none;
    padding:1rem;
    position: relative;
}
.Navbar_menu_container{
    position: absolute;
    width: 150px;
    right: 0px;
    top: 60px;
    border-radius:2px;
    text-decoration: none;
    text-align: right;
    border: solid white 1px;
    background: var(--color-bg);
}

.Navbar_menu_container p,
.Navbar_menu_container a{
    display: block;
    text-decoration: none;
    padding: 5px;
    color: aliceblue;
}
.Navbar_menu_container button{
    display: none;
    padding:10px;
    width: 100px;
    border-radius: 5px;
    background-color: #FF4820;
    color: aliceblue;
}

@media screen and (max-width: 1050px){
    .Navbar_menu{display: block;}
    .Navbar_Links{display: none;}
}