*{
    color: white;
}
.Footer{
    padding: 8rem 8rem 0rem 8rem;
    background: #031B34;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Footer h1{
    font-size: 62px;
    text-align: center;
}
.Footer button{
    padding: 20px 40px;
    background: transparent;
    border: solid white 1px;
    color: white;
    font-size: 20px;
}
.Footer_Bottom{
    width: 100%;
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
}
.Footer_Bottom_Text{
    max-width:200px;
}
.Footer_Bottom_Table tr th{
    font-family: 'Gilroy-Bold';
    text-align: end;
    font-size: 14px;
    line-height: 35px;
    padding-left: 6rem;
}
.Footer_Bottom_Table tr td{
    font-family: 'Gilroy-Bold';
    text-align: end;
    font-size: 14px;
    line-height: 35px;
    padding-left: 6rem;
}

.Footer p{
    padding-top: 50px;
    padding-bottom: 20px;
}